<!DOCTYPE html>
<html>
<head>
  <title>Multiplication Game</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
  <div id="app"></div> <!-- Vue.js app will mount here -->
</body>
</html>